* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 247, 239);
}

/* 隱藏垂直滾輪條 */
::-webkit-scrollbar {
  width: 10px; /* 設定滾輪條寬度為 0，達到隱藏效果 */
  /*background: transparent;  背景透明 */
}

::-webkit-scrollbar-track {
  background: rgb(255, 247, 239); /* 設定軌道的背景顏色 */
}

::-webkit-scrollbar-thumb {
  background: rgb(141, 175, 168);
  border-radius: 5px; /* 軌道的圓角邊框 */
}

::-webkit-scrollbar-thumb:hover {
  background: #8f6234;
}

a {
  text-decoration: none;
  color: #8f6234;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(141, 175, 168);
    cursor: pointer;
    border-radius: 10px;
  }
}

@import "./search";
@import "./footer";
@import "./picture";
